<div class="jumbotron">

<h1>Hey Kellogg!</h1>
<p>Wish you knew more about what Kellogg thinks about classes or professors that you are considering? Want more information about BEFORE you choose where to spend those precious bid points? </p>
<p>Welcome to Rate Your Professor! You can access reviews from your peers or give qualitative feedback on Kellogg professors and courses so that you can choose the schedule that's right for you. Whether you've come to leave your own reviews or just browse what others have said, we're glad you're here!</p>
<p></p>
<p></p>
<a href="/courses" class="btn btn-success btn-lg" role="button">Search by course &raquo;</a>
<a href="professors" class="btn btn-success btn-lg" role="button">Search by professor &raquo;</a>
</div>
</div>


